In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_

In [2]:
df_sales = pd.read_csv("sales_data_set.csv",parse_dates=["Date"])
df_sales

        Store  Dept       Date  Weekly_Sales  IsHoliday
0           1     1 2010-05-02      24924.50      False
1           1     1 2010-12-02      46039.49       True
2           1     1 2010-02-19      41595.55      False
3           1     1 2010-02-26      19403.54      False
4           1     1 2010-05-03      21827.90      False
...       ...   ...        ...           ...        ...
421565     45    98 2012-09-28        508.37      False
421566     45    98 2012-05-10        628.10      False
421567     45    98 2012-12-10       1061.02      False
421568     45    98 2012-10-19        760.01      False
421569     45    98 2012-10-26       1076.80      False

[421570 rows x 5 columns]

In [3]:
df_sales.isnull().sum()

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
dtype: int64

In [5]:
IsHoliday=df_sales['IsHoliday']

In [6]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

IsHoliday_le=le.fit_transform(IsHoliday)

In [8]:
df_sales['IsHoliday']=IsHoliday_le
df_sales['date_year']=df_sales['Date'].dt.year
df_sales['date_month']=df_sales['Date'].dt.month
df_sales['date_day']=df_sales['Date'].dt.day
df_sales

,Store,Dept,Date,Weekly_Sales,IsHoliday,date_year,date_month,date_day
0,1,1,2010-05-02,24924.50,0,2010,5,2
1,1,1,2010-12-02,46039.49,1,2010,12,2
2,1,1,2010-02-19,41595.55,0,2010,2,19
3,1,1,2010-02-26,19403.54,0,2010,2,26
4,1,1,2010-05-03,21827.90,0,2010,5,3
...,...,...,...,...,...,...,...,...
421565,45,98,2012-09-28,508.37,0,2012,9,28
421566,45,98,2012-05-10,628.10,0,2012,5,10
421567,45,98,2012-12-10,1061.02,0,2012,12,10
421568,45,98,2012-10-19,760.01,0,2012,10,19
421569,45,98,2012-10-26,1076.80,0,2012,10,26

In [25]:
x=df_sales[['Store','Dept','IsHoliday','date_year','date_month','date_day']]
x=x.values
x

array([[   1,    1,    0, 2010,    5,    2],
       [   1,    1,    1, 2010,   12,    2],
       [   1,    1,    0, 2010,    2,   19],
       ...,
       [  45,   98,    0, 2012,   12,   10],
       [  45,   98,    0, 2012,   10,   19],
       [  45,   98,    0, 2012,   10,   26]], dtype=int64)

In [26]:
y=df_sales['Weekly_Sales']
y.head()

0    24924.50
1    46039.49
2    41595.55
3    19403.54
4    21827.90
Name: Weekly_Sales, dtype: float64

In [27]:
from sklearn.model_selection import train_test_split as tts
x_train,x_test,y_train,y_test=tts(x,y,test_size=0.10,random_state=1)

In [28]:
import xgboost as xgb

In [30]:
model = xgb.XGBRegressor(objective ='reg:squarederror', learning_rate = 0.2, max_depth = 10, n_estimators = 100)
model.fit(x_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.2, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=10, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [33]:
y_predict = model.predict(x_test)

result = model.score(x_test, y_test)

print("Accuracy : {}".format(result))

Accuracy : 0.9706125729315713

In [34]:
print(model.predict([[39,59,0,2012,7,27]]))

[2413.818]

In [35]:
import pickle 
file_name="weekly_sales.pkl"
pickle.dump(model,open(file_name,'wb'))
print('model saved')

model saved